<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div>
      <h1>
        Welcome,
        <span *ngIf="user$ | async as user">
          {{ user.name || user.nickname }}!
          <a
            *ngIf="user.nickname"
            [href]="'https://github.com/' + user.nickname"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub Profile
          </a>
        </span>
      </h1>
    </div>
  </div>

  <div class="my-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter your city"
      [(ngModel)]="city"
      name="city"
    />
    <div class="d-flex gap-2 mt-2">
      <button class="btn btn-primary" (click)="searchWeather()">
        Check Weather
      </button>
      <button class="btn btn-secondary" (click)="clearInput()">Clear</button>
    </div>
  </div>

  <div *ngIf="forecast" class="mt-4">
    <app-forecast [forecasts]="forecastData"></app-forecast>
  </div>
</div>
